
.login-form {
	max-width: 550px;
}

.admin-header {
	background-color: orange;
	color: white;
	position:fixed;
	padding: 10px 20px;
	top:0;
	left: 0;
	z-index: 10;
	height: 80px;
	width: 100vw;
}

.admin-header__cerrar-sesion {
	color: white;
}

.admin-logo {
	display: inline-block;
}

.admin-rigth {
	display: inline-block;
	float: right;
}

.admin-menu__container {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.admin-menu, .admin-menu::before, .admin-menu::after {
	display: inline-block;
	width: 32px;
	height: 5px;
	background-color: white;
	text-align: center;
	position: absolute;
	top: 40%;
	right: 0;
}

.admin-menu::before, .admin-menu::after {
 	content: '';
}

.admin-menu::before {
 	top: -10px;
}

.admin-menu::after {
 	top: 10px;
}

.visible {
	visibility: visible !important;
	opacity: 1 !important;
}

.admin-sidebar {
	background-color: #454545;
	color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	padding-top: 80px;
	visibility: hidden;
	opacity: 0;
}

.admin-sidebar a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	margin: 0;
	padding: 10px;
	width: 100%;
}

.admin-sidebar a:hover {
	color: orange;
}

.admin-container {
	margin-top: 80px;
}

@media only screen and (min-width: 768px) {
	.admin-sidebar {
		width: 100px;
		visibility: visible;
		opacity: 1;
	}

	.admin-container {
		margin-left: 100px;
	}
}

@media only screen and (min-width: 1170px) {
	.admin-sidebar {
		width: 200px;
	}

	.admin-container {
		margin-left: 200px;
	}
}

