
.footer {
	display: block;
	padding: 40px 20px 30px;
	width: 100%;
	color: white;
	font-size: 12px;
	background-color: #444;
	margin-top: 80px;
}

.footer p {
	margin-bottom: 0;
	line-height: 14px;
}


p.footer__direccion {
	font-family: Guardi;
	margin-bottom: 4px;
	font-size: 14px;
}

p.footer__titulo {
	font-family: GuardiBold;
	font-size: 17px;
	margin-bottom: 8px;
}

.footer__subtitulo {
	color: rgb(239, 125, 0);

}

.footer__address {
	display: inline-block;
	float: left;
	margin-right: 15px;
	width: 35%;
}

.footer__social-media {
	display: flex;
	float: right;
	font-size: 1.7rem;
}

  .footer__icono {
 	cursor: pointer;
 	background-size: contain;
 	height: 38px;
 	width: 38px;
 	padding: 0;
 	margin: 0;
   	margin-right: 5px;
 }

 .footer__link {
 	display: inline-block;
  	height: 38px;
 	width: 38px;	
 }

.footer__facebook {
 	background-image: url('../img/icono_facebook.png');
 }

.footer__facebook:hover {
 	background-image: url('../img/icono_facebook_r.png');
 }


.footer__instagram {
 	background-image: url('../img/icono_instagram.png');
 }

.footer__instagram:hover {
 	background-image: url('../img/icono_instagram_r.png');
 }

.footer__icono-direccion {
	height: 30px;
	width: 24px;
	vertical-align: top;
	margin-right: 10px;
	margin-top: 2px;
}

.footer__icono-direccion img {
	cursor: default;
	height: 100%;
	width: 100%;
 }

 .footer__contacto {
 	font-family: Gotham;
 	font-size: 16px;	
 }

.footer__contacto a {
	color: white;
}

.footer__contacto a:hover,
.footer__btn:hover {
	color: #DEC490;
	cursor: pointer;
}

.footer__contacto span {
	vertical-align: top;
}

 .footer__contacto i {
 	font-size: 28px;
 	margin-right: 15px;
 }

.footer__mapa {
	padding-bottom: 15px;
}

.footer__mapa iframe {
	min-height: 280px;
}

.footer__close {
	margin-top: -15px;
	display: block;
	text-align: right;
}

@media only screen and (max-width: 768px) {
	.footer {
		margin-top: 50px;
	}

	.footer__social-media {
		display: block;
		float: none;
		text-align: right;
	}

 	.footer__address {
		display: block;
		float: none;
		max-width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.footer__social-media {
		text-align: center;
	}

	.footer__icono {
		height: 32px;
	}

}
