
.fixed-navbar .main .navbar,
.fixed-navbar .navbar {
	position: fixed;
	top: 0;
	margin-top: 0;
}

.fixed-navbar .main .navbar .navbar__logo,
.fixed-navbar .navbar .navbar__logo {
	// display: block;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.55);
	width: 100%;
	height: 80px;
	justify-content: center;
	align-items: center;
	// overflow: hidden;
	z-index: 20;
	font-family: Gotham;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
    padding: 0.5rem;
}

.navbar__tall {
	height: 100px;
}

.navbar__long {
	height: 120px;
}

.navbar__row {
	width: 100%;
	display: block;
	text-align: center;
}

.main__navbar {
	background-color: rgba(0, 0, 0, 0.66);
	position: absolute;	
	bottom: 100px;
	margin-top: 30px;	
}

.nav__container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.nav__item-container {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
}

.nav__item-container.navbar_inline {
	margin-left: 160px;
}

.nav__item-container.navbar_inline.nav_container_tall {
	// padding-left: 100px;
}

.navbar__logo_tall {
	margin-top: 10px;
}

.nav__item {
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding: 7px 4px;
	text-align: center;
	height: 100%;
	text-transform: uppercase;
	font-size: 14px;
	// max-width: 150px;
}

.nav__label:hover, .nav__item:hover {
	color: rgb(239, 125, 0);
	text-decoration: none
}

.nav__label {
	padding: 0;
	margin: 0;
}

.nav__container::after,
.nav_search_container::before {
	content: '·';
	padding: 0 4px;
	font-weight: bold;
	color: white !important;

}

.nav__container:last-of-type::after {
	content: '';
	padding: 0;
}

.nav__label:hover::after {
	color: white;
}

.navbar__logo {
	position: absolute;
	left: 16px;
	top: 10px;
	display: none;
}

.navbar__logo img {
	height: 55px;
}

.navbar__selected {
	color: rgb(239, 125, 0);
}

.navbar__search {
	width: 45%;
	min-width: 200px;
}

.navbar__search_btn {
	border: 0;
	color: white;
	background-color: #333;
	padding: 4px 16px;
}

.navbar__dropdown {
	// overflow: hidden;
}

.navbar__dropdown--content {
  	display: none;
  	position: absolute;
  	min-width: 250px;
  	z-index: 1;
  	background-color: #737373;
}

.navbar__dropdown:hover .navbar__dropdown--content {
  display: block;
}

.navbar__dropdown--content a {
  	color: white;
  	padding: 10px 18px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
  	margin: 5px 0;
	border-left: 4px solid rgb(239, 125, 0);
	background-color: #636363;
}


.main__navbar .navbar__dropdown--content {
	background-color: rgba(0, 0, 0, 0.33);
}

.main__navbar .navbar__dropdown--content a {
	background-color: rgba(0, 0, 0, 0.55);
}

.navbar__dropdown--content a:hover,
.navbar__menu:hover {
  color: rgb(239, 125, 0);
}

.navbar__menu {
	display: none;
}

.main__logo {
	display: none;
}

.admin__menu:hover {
	color: white;
}

@media only screen and (max-width: 774px) {
	.nav__item {
		display: none;
	}

	.nav__container::after,
	.nav_search_container::before {
		content: '';
		padding: 0;
	}

	#inicio {
		display: none;
	}

	.navbar__logo img {
		height: 50px;
		margin: 6px 0;
	}

	.main__logo {
		display: block;
	}

	.navbar__menu {
		position: absolute;
		right: 1rem;
		top: 0;
		float: right;
		margin-right: 0.5rem;
		color: white;
		font-size: 32px;
		padding: 16px 0;
		display: block;
	}

	.main__navbar.navbar__mobile {
		background-color: rgba(0, 0, 0, 0.66);
		bottom: 0;
		top: 0;
		margin-top: 0;
	}

	.navbar__mobile {
		height: auto;
		padding: 0;
	}

	.navbar__mobile .navbar__row {
		height: 100%;
	}

	.navbar__mobile .nav__item-container {
		flex-direction: column;
		align-self: start;
		margin-left: 0.5rem;
		text-align: left;
		padding-top: 65px;
		padding-bottom: 5px;
		width: 100%;
	}

	.navbar__mobile .nav__container {
		align-self: start;
		width: 100%;
	}

	.navbar__mobile .nav__item {
		display: inline-block;
		padding: 12px 6px;
		width: 100%;
		height: auto;
		text-align: left;
	}

	.navbar__mobile .nav_search_container {
		// display: none;
		padding: 3px 6px;
	}

	.navbar__mobile .navbar__dropdown {
		float: none;
	}
	.navbar__mobile .navbar__dropdown--content {
		position: relative;
		background-color: transparent;
	}
	.navbar__mobile .navbar__dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}

	.navbar__mobile .navbar__dropdown--content a {
		background-color: rgba(0, 0, 0, 0.33);
	}

}